<app-navbar></app-navbar>
<div class="my-5 container formContainer">
    <h2 class="mb-4 text-center text-dark">Sign In</h2>
    <form (ngSubmit)="onSubmit()" class="container">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password">
        </div>
        <button type="submit" class="btn btn-success">Sign In</button>
    </form>
</div>