@media screen and (min-width:721px){
    .formContainer{
        width: 40%;
        box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.5);
        padding: 4%;
        border-radius: 4%;
    }
}

@media screen and (max-width:720px){
    .formContainer{
        width: 90%;
    }
}